@model UserInfo
@{
    ViewBag.Title="Başvuru Detayı";
}
<main class="text-center">
    <h1 class="h4">Başvuru Detayı</h1>
    <p>İsim:@Model.Name</p>
    <p>Email:@Model.Email</p>
    <p>Telefon:@Model.Phone</p>
</main>