@model MeetingInfo
@{
    ViewBag.Title = "Başvuru Bilgisi";
    Layout = "_Layout2";
}
<main class="text-center"> 
    <h1 class="h4">@ViewBag.selamlama,@ViewBag.Username</h1>
    <p>Toplantı Katılım Durumunuzu Belirtin</p>

    <div class="card my-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerçekleşecek</li>
            <li class="list-group-item">@Model.NumberOfPeople Kişilik Kontenjan</li>
        </ul>
    </div>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru yap</a>
</main>